{% extends "base.html" %} 

{% block title %}
  Borrar nota
{% endblock %}

{% block style %}
<style>
  .nota-item{
    color: var(--disabled);

    padding: 0.5rem;
    padding-left: 1rem;
    border-left: 5px solid var(--primary);
  }

  .controls{
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
</style>
{% endblock %}

{% block content %}
  <form action="" method="post" novalidate>
    <p>Estas seguro que quieres borrar esta nota?</p>
    <div class='nota-item'>
      <p>{{nota.desc}}</p>
      <p class="timestamp">{{nota.timestamp.strftime('%d/%m/%Y a las %H:%M')}}</p>
    </div>

    <div class='controls'>
      <a href="{{url_for('index')}}" class='btn btn-disabled'>Cancelar</a>
      <button type="submit" class="btn btn-danger">Confirmar</button>
    </div>
  </form>

  
{% endblock %}