{% extends "base.html" %} 

{% block title %}
  Registrarse
{% endblock %}

{% block content %}
  <h1>Registrarse</h1>
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }} 

    {{ form.email.label }} 
    {{ form.email(size=32) }} 

    {% for error in form.email.errors %}
        <p class="danger">{{ error }}</p>
    {% endfor %}

    {{form.password.label }} 
    {{ form.password(size=32) }}

    {% for error in form.password.errors %}
        <p class="danger">{{ error }}</p>
    {% endfor %}

    {{form.password_confirm.label }} 
    {{ form.password_confirm(size=32) }} 

    {% for error in form.password_confirm.errors %}
        <p class="danger">{{ error }}</p>
    {% endfor %}

    {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
          <p class="danger">{{ message }}</p>
          {% endfor %}
      {% endif %}
    {% endwith %}


    {{form.submit(class='btn') }}
  </form>
  <p>Ya estas registrado? <a href="{{url_for('login')}}">Inicia Sesión</a>.</p>
{% endblock %}
